<div class="modal-header">
    <h4 class="modal-title">Editar Produto</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12">
            <label for="nome" aria-required="true"><b>Nome:</b> </label>
            <input type="text" name="nome" class="input-shared" [(ngModel)]="product.name">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="category">Categoria:</label>
            <select class="select-shared" [(ngModel)]="product.category">
                <option *ngFor="let cat of categoryList" [value]="cat.id">
                    {{cat.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label for="price" aria-required="true"><b>Preço:</b> </label>
            <input type="text" name="price" class="input-shared" [(ngModel)]="product.price">
        </div>
        <div class="col-lg-6">
            <label for="serie" aria-required="true"><b>Série:</b> </label>
            <input type="number" name="serie" class="input-shared" [(ngModel)]="product.serie">
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="add()"> Salvar </button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
</div>